{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('map') }}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
           integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
           crossorigin=""/>
     <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
           integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
           crossorigin="">
     <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
     <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
 {% endblock %}
{% block body %}
    <div class="container-fluid mapHackathon">

        <div class="row justify-content-center">

            <div class="mapHackathon col-12 col-md-10 border border-warning p-0 m-0" id="map">
            </div>

            <div class="selectoption col-12 col-md-2 p-0 m-0 border border-warning justify-content-center">
                <div class="container text-left">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary btn m-3">{{ button_label|default('Rechercher') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
            integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
            crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
            integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
            crossorigin=""></script>
    <script src='https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js'></script>
    <script>
        const coordsParis = { lat: 48.167, lng: 1.233 };
        let coordsFromBrowser = { lat: coordsParis.lat, lng: coordsParis.lng };
        navigator.geolocation.getCurrentPosition(function (position) {
            console.log(
                "position",
                position.coords.latitude,
                position.coords.longitude
            );
            coordsFromBrowser.lat = position.coords.latitude;
            coordsFromBrowser.lng = position.coords.longitude;
            map.setView([coordsFromBrowser.lat, coordsFromBrowser.lng], 11);
        });

        var barnIcon = L.icon({
            iconUrl: 'build/images/barn.png',
            iconSize:     [30, 30], // size of the icon
        });

        var socialIcon = L.icon({
            iconUrl: 'build/images/building.png',
            iconSize:     [30, 30], // size of the icon
        });

        var buyerIcon = L.icon({
            iconUrl: 'build/images/grocery-cart.png',
            iconSize:     [40, 40], // size of the icon
        });

        let map = L.map('map').setView([48.852969, 2.349903], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = L.markerClusterGroup();

        let siege = L.marker([48.16847, 1.22049], {icon: socialIcon})
            .addTo(map);
        siege.bindPopup("<p>Siège social</p>")

        {% for transaction in transactions %}
        var marker = L.marker([ {{ transaction.farmer.city.lat }}, {{ transaction.farmer.city.lon }}], {icon: barnIcon})/*.addTo(map)*/;

        marker.bindPopup("<b>Ville de </b><br> {{ transaction.farmer.city.city }}. <br><b>Code postal</b><br>{{ transaction.farmer.city.zipcode }}. <br><b>Produits</b><br>{{ transaction.product.category.name}}.").openPopup();
        markers.addLayer(marker);
        map.addLayer(markers);
        {% endfor %}

        {% for buyer in buyers %}
        var buyer = L.marker([{{ buyer.city.lat }}, {{ buyer.city.lon }}], {icon: buyerIcon});

        buyer.bindPopup("<b>Acheteur</b><br> {{ buyer.type }}.<br> <b>Ville de </b><br> {{ buyer.city.city }}. <br><b>Code postal</b><br>{{ buyer.city.zipcode }}. ").openPopup();
        markers.addLayer(buyer);
        map.addLayer(markers);

        {% endfor %}

</script>

{% endblock %}
